
body{
  background-image: linear-gradient( to bottom,	#1E90FF,#1E90FF );
}
label{
  font-family: "verdana";
  font-weight: bold;
}
 h3{
    font-family: "verdana";
   text-align: center;
}
div{
    padding: 10px;
}
.quadrado .corpo .tabela{
     display: flex;
      justify-content: center;
     padding: 15px;
}


.quadrado .corpo .cabecalho{
     display: flex;
    justify-content: center;
}
.quadrado{
background-color: white;
border-radius: 3px;
height:80%;
width:50%;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
box-shadow:0 10px 30px -10px;
}
